<footer class="site-footer">
  <div class="wrapper">
    <h2 class="footer-heading">{{ site.title }}</h2>
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.author }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>
      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <!-- Add social media icons here if needed -->
        </ul>
      </div>
      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>
  </div>
</footer>

<!-- Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!-- AOS JS -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init({
    duration: 1000, // animation duration
    once: true, // whether animation should happen only once - while scrolling down
  });
</script>
<!-- Custom JS -->
<script src="{{ "/assets/main.js" | relative_url }}"></script>
